.topnav {
	display: flex;
	background: red;
}

.navbar-brand {
	font-size: 12pt;
}

.cent {
	margin: 0 auto;
}

.cv-bd {
	width: 50%;
	margin: 0 auto;
}

@media (max-width: 700px) {
	.cv-bd {
		width: 100% !important;
	}
}